<div class="modal-header">
    <h5 class="modal-title accountHeader" id="exampleModalLabel">Terms &amp; Conditions</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRefTermandconditions.close()"></button>
</div>
<div class="modal-body">
    <div class="termsBox">
        <p><b>PARTICIPANT WAIVER, RELEASE, ASSUMPTION OF RISK, AND INDEMNIFICATION AGREEMENT</b></p>
        <p>
            I have voluntarily elected ___; and/or I have voluntarily elected to allow the minor child(ren) (“Minor”)
            identified below ___: to use</p>
        <p> <b>Decision Tactical, LLC facilities and equipment, located 430 Towne Center Cir, Sanford,
            FL 32771 (“DECISION TACTICAL”).</b></p>
        <p> In consideration for being allowed to use, or observe others using, said
            facilities and equipment, and any other services provided by DECISION TACTICAL, its employees, or agents
            (“DECISION TACTICAL Attractions”), I represent, acknowledge and agree as follows:</p>
        <p>
            <b>General Release</b>
        </p>
        <p>
            I acknowledge and agree that this Participant Waiver, Release, Assumption of Risk and Indemnification
            Agreement
            (the “Agreement”) covers and is intended to release and provide other benefits, legal protections, and
            consideration
            to DECISION TACTICAL, and their agents, owners, officers, managers, shareholders, affiliates, volunteers,

            participants, employees, assigns, and all other persons or entities acting in any capacity on their
            respective
            or collective behalf (“Releasees”). </p>
        <p>
            <b>Release of Potential Injuries for Additional Attractions</b>
        </p>
        <p>
            I acknowledge that DECISION TACTICAL Attractions will involve highly realistic environments that take place

            on real sets and utilize many integrated projection screens and special effects where crisis situations can
            unfold.
        </p>
        <p>I understand that I may be exposed to stimulus and topics including, but not limited to, loud noises, blood,
            death, strong language, graphic violence, sexual assault, animal cruelty, self-harm, slurs, hate speech,
            strobe
            lights,
            gunfire, and explosions. </p>
        <p>I promise that I and/or the Minor will not take part in any DECISION TACTICAL Attractions if
            I
            am, or the Minor is, susceptible to PTSD, seizures, or anything that could be aggravated by the
            aforementioned
            conditions; I have a medical condition that may be affected; I am pregnant; or there is any other personal
            or
            medical
            reason that I should refrain. </p>
        <p>I understand that it is my responsibility to speak with a qualified medical
            professional
            regarding whether I may partake in DECISION TACTICAL Attractions.</p>
        <p>
            I fully understand the experience that DECISION TACTICAL Attractions entail. </p>
        <p>I know that I will need to make

            wise decisions on properly utilizing the “run, hide, fight” process to survive the simulated scenario, and I
            understand that I will need to address these threats using DECISION TACTICAL simulated weapons (gun, pepper
            spray, or
            taser). </p>
        <p>I understand that DECISION TACTICAL offers competition style courses where participants shoot at
            popup
            targets as they quickly move through hallways and rooms, and as well as a more traditional shooting range.
        </p>
        <p> I
            agree
            that this Waiver applies to all DECISION TACTICAL Attractions.</p>
        <p>
            I understand that some of the DECISION TACTICAL experiences have a breach door that is opened through
            physical force. </p>
        <p>I agree that I will not attempt to use such force if I have any medical conditions,
            concerns, or
            physical
            limitations.</p>
        <p> I further agree that it is my responsibility to consult with a medical professional regarding
            the
            above
            and that DECISION TACTICAL is not responsible for any injuries that may occur as a result of breaching a
            door
            or any related injuries.</p>
        <p> I understand that I may press the illuminated button next to the door to drop the
            breach
            strength to the minimal level. </p>
        <p>I understand that, while DECISION TACTICAL may make recommendations such
            as how to choose breach strength or how to approach/kick a breach door, my decisions, and
            techniques—including
            the overall choice to partake in this or any other DECISION TACTICAL activity or obstacle—is solely my
            choice
            and responsibility.</p>
            <p>
                <i>Page 2 of 5</i>
            </p>
        <p><b>
                Release of Potential Injuries for Weaponry and Experiences</b></p>
        <p>
            I am aware that, while none of the DECISION TACTICAL weapons shoot live fire, they recoil in a similar
            manner
            to a real firearm. I understand that the DECISION TACTICAL weapons must be properly handled, and that if I
            do
            not know how to handle weapons, it is my responsibility to acquire this knowledge before visiting the
            DECISION
            TACTICAL Attractions. </p>
        <p>I further understand that DECISION TACTICAL weapons may cause severe injuries,
            including but not limited to injury to face, head, fingers, or other body part(s), blunt force, pinching or
            cutting of
            skin. </p>
        
        <p>
            I also understand that there will be a Level 1 infrared laser that illuminates even when the gun is not
            firing.</p>
        <p>
            I
            understand that, consistent with real-life environments, there may be weapon-related accessories found on
            the
            floors,
            including but not limited to: magazines, firearms, tasers, taser accessories, pepper spray canisters, etc.,
            and
            that it is
            my responsibility to avoid stepping on them or tripping over them.</p>
        <p>
            I understand that DECISION TACTICAL also offers classes in self-defense, concealed carry, firearms safety,
        </p>
        <p>
            tactical training, and other related topics. I understand that DECISION TACTICAL makes no guarantee
            regarding
            the information, outcomes, or results of these classes, and that I am solely responsible for how I use and
            apply
            any
            knowledge gained.</p>
        <p>
            I further understand that DECISION TACTICAL Attractions are open to adults 18 years of age and older. While

            some of the experiences are open to minors, I understand that the Minor and I must never be further than an
            arm's
            length away from one another.</p>
        <p>
            I agree that the use of these attractions, or observation of others using these attractions, has inherent
            and
            obvious
            dangers. </p>
        <p>These risks include serious physical or emotional injury, paralysis, death, damage to me, the
            Minor,
            and/or
            third parties, and may include damage to personal property of any or all such persons.</p>
        <p> I understand that
            these
            risks
            are inherent in the essential qualities of the activities and cannot just be removed without substantially
            changing the
            activity. </p>
        <p>I further agree that these activities are completely voluntary, whether they are for training,
            personal, or
            recreational purposes. </p>
        <p>I also agree to use DECISION TACTICAL Attractions in a safe and responsible
            manner.</p>
        <p><b>
                Agreement to Abide By All Facility Rules</b></p>
        <p>
            I understand that a background check is required for advanced tactical training, and I agree to submit to a
            background check.</p>
        <p>
            I also agree that I understand and will abide by all DECISION TACTICAL Facility rules, including but
            not
            limited to the Rules of Engagement.</p>
        <p> I understand that additional resources are available to me, as well as
            the
            assistance of DECISION TACTICAL staff members. </p>
        <p>I agree that I am solely responsible for learning all rules
            and
            requisite weapon handling procedures and I further agree that I will not use the DECISION TACTICAL
            Attractions
            or Facility if I am not fully confident in my understanding thereof.</p>
        <p>
            I agree that violations of any Rule and/or refusal to comply with staff instructions are grounds for removal
            from the
            DECISION TACTICAL Facility premises. I further agree that such violations, refusal, or any other
            noncompliance
            may result in a ban from future visits and use of the DECISION TACTICAL Attractions and Facility. I
            understand
            that such decisions are fully at the discretion of DECISION TACTICAL.</p>
        <p><b>
                Release of Potential Injuries for Alcohol Consumption</b></p>
        <p>
            I acknowledge and agree that DECISION TACTICAL serves alcoholic beverages, and I agree that consumption of

            alcohol comes with a variety of inherent risks (whether or not known or acknowledged) including serious
            physical
            or emotional injury, paralysis, death, and damage to me, the Minor, and/or third parties, and may include
            damage
            to personal property of any or all such persons. </p>
        <p>I understand that it is dangerous to consume alcohol before
            engaging in physical activities including, but not limited to any of the DECISION TACTICAL Attractions.
            Consumption
            of
            alcohol is a personal choice, and I agree that any alcoholic beverages I consume are solely my
            responsibility. </p>
        <p>I
            agree
            to drink responsibly. </p>
        <p>I further agree that I will not consume alcohol if I am not twenty-one (21) years of
            age
            or older,
            and I will not purchase drinks for anyone under the legal drinking age.</p>
        <p> I agree that I release DECISION
            TACTICAL,
            its owners and agents from any alcohol related liability.</p>
        <p> I further acknowledge that alcohol may not be
            removed
            from the premises, and I may not bring my own alcohol onto DECISION TACTICAL premises to include the
            facility, parking lot, and any other owned property located at <b>430 Towne Center Cir, Sanford, FL
                32771</b>.</p>
        <p>
            Last,
            I
            agree to present a valid ID for purchase and agree DECISION TACTICAL, its owners and/or agents may refuse to

            serve me at their discretion with no liability.</p>
        <p><i>Page 3 of 5</i>
        </p>
        <p><b>
                Release of Potential Infection of Disease and Viruses</b></p>
        <p>
            I acknowledge that DECISION TACTICAL is a public location with many guests and employees who utilize the
            space on a daily basis. I further recognize that while DECISION TACTICAL practices appropriate and
            reasonable

            cleaning practices, I could still potentially get infected with a disease or virus, including, but not
            limited
            to COVID19, through my participation in, or observation of others participating in, DECISION TACTICAL
            Attractions. </p>

        <p>I
            fully release Releasees from any claim against them regarding the contraction of a disease or virus for
            myself
            or the
            Minor.</p>
        <p>
            No Live Weapons</p>
        <p>
            I understand that live weapons are NOT PERMITTED past the DECISION TACTICAL Armory. </p>
        <p>I agree to keep
            live weapons safely stored in my car, at home or in a designated locker.</p>
        <p> If storing firearms in a locker, I
            agree to
            keep the gun in its holster at all times and closely follow the posted disarming and arming procedures.</p>
        <p> I
            further
            agree that I, and all other participants, must cleanly pass through a metal detector safety check before
            entering the
            Armory.</p>
        <p> I agree that ensuring a live weapon is never mistaken for a sim weapon is paramount to the safety of
            the
            DECISION TACTICAL Facility and everyone therein.</p>
        <p> I understand that any attempt to bring a live weapon</p>
        <p>
            past the security checkpoint will lead to criminal and civil prosecution.</p>
        <p><b>
                Attire</b></p>
        <p>
            I understand that DECISION TACTICAL involves intense physical activity and that it is my responsibility to
            wear
            the appropriate attire. This includes but is not limited to: closed-toed shoes, attire that will not confine
            my
            movements or snag on my surroundings, and a hairstyle that will not inhibit my vision or get caught in my

            surroundings. </p>
        <p>These precautions are necessary to maintain the health and safety standards, along with
            creating
            a
            safer experience for the Minor and/or me, as the client. DECISION TACTICAL understands that certain medical

            conditions, religious beliefs, or other considerations, can prevent the Minor and/or me and/or other
            participants
            meeting these attire guidelines.</p>
        <p> I understand that if the Minor and/or I have such considerations, DECISION

            TACTICAL will do all that it can to make a reasonable accommodation as is directed under the Americans with

            Disabilities Act and/or other relevant laws. </p>
        <p>That being said, I understand that accommodations can only be
            made
            if
            DECISION TACTICAL, its staff, employees, agents, owners, officers, managers, volunteers, participants,
            assigns,
            and all other persons or entities acting in any capacity on their respective or collective behalf are made
            aware
            of the
            Minor's and/or my needs.</p>
        <p> I further understand that some accommodations would be unreasonable and may not be

            made.</p>
        <p><b>
                Voluntary Assumption of Risk</b></p>
        <p>
            I acknowledge and agree that I and the Minor are participating voluntarily at our own risk. </p>
        <p>I acknowledge
            and
            agree
            that the actions or activities of other customers or the actions or inactions of DECISION TACTICAL employees

            could cause me or the Minor significant bodily injury (as described within), and that DECISION TACTICAL is
            not
            responsible for the actions or activities of customers using DECISION TACTICAL Attractions or the negligence
            of
            its employees in supervising DECISION TACTICAL Attractions, including actions, activities, or omissions that

            result in such harm.</p>
        <p> I specifically acknowledge and assume the risk that participants may:</p>
        <ol>
            <li>
                Die or become paralyzed, partially or fully, through their use of the DECISION TACTICAL facility and
                participation in DECISION TACTICAL Attractions;</li>
            <li>
                Suffer cuts, scrapes, bumps, bruises, or sprain, pull break or otherwise seriously externally or
                internally
                injure
                their head, face, neck, torso, spine, arms, wrists, hands, legs, ankles, feet, or other body part as a
                result
                of
                falling or colliding with any part of the set while at DECISION TACTICAL Attractions, use or misuse of
                the

                weapons or any other equipment, or making contact with other participants; </li>
            <li>
                Suffer from the transmission of disease strains and allergic reactions or suffer heat stroke, heart
                attacks,
                dehydration and other exertion-related medical events through use of the DECISION TACTICAL Facility
                or DECISION TACTICAL Attractions;</li>>
            <li>
                Suffer from serious injuries due to unpredictable body movements and anticipated or unanticipated bodily

                contact caused by tripping, falling, startling, opening breach doors, or any similar actions, reactions,
                or

                occurrences; or</li>
            <li>
                Suffer from similar physical injury from observing, standing, or sitting at or near any DECISION
                TACTICAL
                Attractions, even if the observer is not participating. </li>
        </ol>
        <p><i>
                Page 4 of 5</i></p>
        <p><b>
                Agreement to Pay My Own Medical Expenses</b></p>
        <p>
            I acknowledge, accept, and assume the risk of any and all medical conditions, limitations, or disabilities
            (whether
            temporary or permanent) that I or the Minor possess, whether known or unknown, which might contribute to or

            exacerbate any injury or illness that I or the Minor might sustain as a result of using DECISION TACTICAL

            Attractions. I acknowledge and agree that if medical assistance (of any form, including emergency care,
            hospitalization, out-patient care, and/or physical/occupational therapy) is required or performed as a
            result of
            any
            injury I or the Minor sustains while using DECISION TACTICAL Attractions, such assistance shall be at my own

            expense.</p>
        <p><b>
                Arbitration</b></p>
        <p>
            I AGREE THAT ANY DISPUTE, CLAIM, OR CONTROVERSY ARISING OUT OF, OR RELATING TO,
            MY OR THE Minor'S ACCESS TO, USE, OR ABILITY TO OBSERVE OTHER'S USING THESE
            ATTRACTIONS, INCLUDING THE DETERMINATION OF THE SCOPE OR ABILITY TO
            ARBITRATE THIS AGREEMENT SHALL BE DETERMINED BY ARBITRATION IN SEMINOLE
            COUNTY, FLORIDA BEFORE ONE ARBITRATOR. </p>
        <p>JUDGEMENT ON ANY AWARD MAY BE
            ENTERED IN ANY COURT HAVING JURISDICTION.</p>
        <p> THIS CLAUSE SHALL NOT PRECLUDE
            PARTIES FROM SEEKING PROVISIONAL REMEDIES IN AID OF ARBITRATION FROM A COURT
            OF APPROPRIATE JURISDICTION. </p>
        <p>The Arbitration shall be in accordance with the JAMS Rules of
            Arbitration, which can be found online at jamsadr.com. </p>
        <p>I understand that by agreeing to arbitrate any
            dispute as
            set
            forth in this section, I am waiving my right, and the right(s) of the Minor, to maintain a lawsuit
            against Releasees.</p>
        <p> Further, I acknowledge that by agreeing to arbitrate, I understand that I, the Minor,
            and DECISION TACTICAL will NOT have the right to have claim(s) determined by a jury. </p>
        <p><b>
                Time Limit to Bring Claim(s)</b></p>
        <p>
            I AGREE THAT ANY DISPUTE, CLAIM, OR CONTROVERSY ARISING OUT OF, OR RELATING TO,
            MY OR THE Minor'S ACCESS TO, USE, OR ABILITY TO OBSERVE OTHER'S USING THESE
            ATTRACTIONS, INCLUDING THE DETERMINATION OF THE SCOPE OR ABILITY TO
            ARBITRATE THIS AGREEMENT SHALL BE BROUGHT WITHIN ONE YEAR OF ITS ACCRUAL (i.e.,
            the date of the alleged injury).</p>

        <p><b>
                Prohibition of Photography</b></p>
        <p>
            I understand that photography and filming of any kind is strictly prohibited while taking part in the
            experiential
            scenarios at the DECISION TACTICAL Attraction.</p>
        <p> I further understand that I will be recorded and that I may
            view
            this footage during my after-action review.</p>
        <p> I understand that, while DECISION TACTICAL offers a courtesy
            “highlight reel,” no specific footage is guaranteed. </p>
        <p>I agree that this is a bonus offering and that the
            rules
            against
            personal photography apply regardless of any recording made by DECISION TACTICAL.</p>
        <p>
            In connection with my and the Minor's use of the DECISION TACTICAL Facility and DECISION
            TACTICAL Attractions, I consent to the recording of the Minor's and my physical likeness and/or voice
            through</p>
        <p>
            mechanical, photographic, technical, digital, electronic, or other means (“Recordings”).</p>
        <p> I hereby consent to
            and
            authorize DECISION TACTICAL and its agents, representatives, employees, successors, and assigns to use, in

            perpetuity, such Recordings, as well as the Minor's name and my name, for any purpose, including
            advertising,
            promoting, exploiting and/or publicizing any DECISION TACTICAL Facility.</p>
        <p> I further agree that the foregoing

            includes the consent to use the Minor's and/or my physical likeness in any form.</p>
        <p> In addition, I waive any
            and
            all
            claims that I or the Minor may have in connection with the Recordings.</p>
        <p><i>
                Page 5 of 5</i></p>
        <p><b>
                PARENT OR GUARDIAN CONSENT</b></p>
        <p>
            I have read and understand the terms of this Agreement and unconditionally agree to its full terms,
            statements,
            warranties, notices, representations,waivers, and releases on behalf of both myself and marital community,
            if
            any,
            and my minor child or ward (“Minor”), whose name is:</p>

        <p>
            First Name: _________________ </p>

            <p>Last Name: ____________________ </p>

            <p>DOB: _______________</p>
        <p>
            All such terms, statements, warranties, notices representations, waivers, and releases fully apply to my
            minor
            child
            or ward (“Minor”) as if I was the participant.I understand that, by signing this Parent or Guardian Consent,
            I
            am
            giving up important legal rights both on behalf of myself and the Minor, regarding potential rights and
            claims
            against DECISION TACTICAL. I have had sufficient opportunity to read this entire document.</p>
        <p> I have read and
            understood it, and I agree to be bound by its terms.</p>
        <p>
            I hereby warrant and represent that if I am neither the Minor's Parent nor legal Guardian, I have been
            granted
            the
            expressed authority to execute this Agreement by, and on behalf of, the Minor's Parent or Guardian.</p>
        <p><b>
                PARENT OR GUARDIAN INDEMNIFICATION</b></p>

        <p>
            AS THE INDIVIDUAL SIGNING THIS AGREEMENT ON BEHALF OF A MINOR OR OTHER
            INDIVIDUAL, I AGREE TO FULLY INDEMNIFY AND HOLD HARMLESS RELEASEES, FOR ANY
            AND ALL CLAIMS CONNECTED WITH, ARISING OUT OF, OR RESULTING FROM THE
            INDIVIDUAL OR THE MINOR'S USE OF THE DECISION TACTICAL FACILITY OR
            ATTRACTIONS.</p>

        <p>
            BY SIGNING THIS DOCUMENT, I REPRESENT THAT I HAVE CAREFULLY READ THIS AGREEMENT
            AND UNDERSTAND IT TO BE A RELEASE OF ALL CLAIMS, CAUSES OF ACTION FOR MY OR THE
            MINOR'S LOSS, DAMAGE, OR INJURY, INCLUDING DEATH, WHETHER OR NOT KNOWN OR
            ANTICIPATED, THAT OCCUR WHILE ON THE PREMISES OF DECISION TACTICAL.</p>
        <p> I FURTHER
            UNDERSTAND AND AGREE TO INDMNIFY RELEASEES FOR ANY LIABILITY FOR ANY INJURY,
            DAMAGE OR LOSSES OF ANY KIND CAUSED BY MY NEGLIGENT OR INTENTIONAL ACTS WHILE
            ON THE PREMISES OF DECISION TACTICAL. </p>
        <p>THE SIGNATURE BELOW IS PROOF OF MY INTENTION
            TO EXECUTE A COMPLETE AND UNCONDITIONAL WAIVER, RELEASE, AND INDEMNIFICATION OF
            ALL LIABILITY TO THE FULL EXTENT OF THE LAW.</p>

        <p>
            Signature:______________________________________</p>

            <p> Date: ________________</p>

        <p>
            ________ I represent that I am 18 years of age or older.</p>
        <p>
            ________ I represent that I have had ample time to read this Agreement and that I have entered into this
            agreement voluntarily, freely, under no threat of duress, without inducement, promise, or guarantee
            being communicated to me.
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRefTermandconditions.close()">
        Cancel
    </button>
    <button type="button" class="btn btn-primary" id="startSigningButton" (click)="startSigningButton()">I Agree, Sign</button>
</div>