<div class="container col-md-6 offset-md-3 mt-5">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div *ngIf="success" class="alert alert-success">{{success}}</div>
    <div class="card">
        <h4 class="card-header">First User Registration</h4>
        <div class="card-body">
            <form [formGroup]="emailForm" (ngSubmit)="sendVerificationEmail()">
                <div class="mb-3">
                    <label class="form-label">Enter Email </label>
                    <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted}" />
                    <div *ngIf="submitted && emailForm.get('email')?.hasError('required')" class="invalid-feedback">
                        Email is required.
                      </div>
                    <div *ngIf="submitted && emailForm.get('email')?.hasError('email')" class="invalid-feedback">
                        Invalid email format.
                      </div>
                </div>
                <div>
                    <button [disabled]="loading" class="btn btn--secondary btn--general-cta">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Verify
                    </button>
                    <a routerLink="../login" class="btn btn-link">Login</a>
                </div>
            </form>
        </div>
    </div>
  </div>
