<div class="row" *ngIf="successHide">
    <div class="col-12">
        <div *ngIf="success" class="alert alert-success">{{success}}</div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </div>
</div>
<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img [src]="profileImage" alt="Avatar">
                            </div>
                            <h5 class="user-name">Name: {{ userDetails.first_name }} {{ userDetails.last_name }}</h5>
                            <h6 class="user-email">E-Mail: <a href="mailto:'{{ userDetails.email }}'">{{
                                    userDetails.email }}</a> </h6>
                            <h6 class="user-serial_number">D-TAC ID: {{ userDetails.serial_number }} </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters mb-3">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="racername">Racer Name</label>
                                <input type="text" class="form-control" id="racername"
                                    placeholder="Enter racername name" [(ngModel)]="userDetails.racer_name"
                                    name="racer_name" [disabled]="disName">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control" id="firstname" placeholder="Enter first name"
                                    [(ngModel)]="userDetails.first_name" name="first_name" [disabled]="disName">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="url" class="form-control" id="lastname" placeholder="Enter last name"
                                    [(ngModel)]="userDetails.last_name" name="last_name" [disabled]="disName">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email ID"
                                    [(ngModel)]="userDetails.email" name="email" [disabled]="disName">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="tel">Tel 1</label>
                                <input type="text" class="form-control" id="tel" placeholder="Enter phone number"
                                    [(ngModel)]="userDetails.tel" name="tel" [disabled]="disName">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="tel2">Tel 2</label>
                                <input type="text" class="form-control" id="tel2" placeholder="Enter phone number"
                                    [(ngModel)]="userDetails.tel2" name="tel2" [disabled]="disName">
                            </div>
                        </div>
                    </div>
                    <div class="row gutters mb-3">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mt-3 mb-2 text-primary">Address</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="address1">Address1</label>
                                <input type="text" class="form-control" id="address1" placeholder="Enter Address 1"
                                    [(ngModel)]="userDetails.address1" name="address1" (change)="enableButton()">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="address2">Address2</label>
                                <input type="text" class="form-control" id="address2" placeholder="Enter Address 2"
                                    [(ngModel)]="userDetails.address2" name="address2" (change)="enableButton()">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter City"
                                    [(ngModel)]="userDetails.city" name="city" (change)="enableButton()">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" placeholder="Enter State"
                                    [(ngModel)]="userDetails.state" name="state" (change)="enableButton()">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="zipcode">Zip Code</label>
                                <input type="text" class="form-control" id="zipcode" placeholder="Zip Code"
                                    [(ngModel)]="userDetails.zipcode" name="zipcode" (change)="enableButton()">
                            </div>
                        </div>
                    </div>
                    <div class="row gutters mb-3">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <!--<button type="button" id="submit" name="submit" class="btn btn-secondary" style="margin-right: 5px;">Cancel</button>-->
                                <button type="button" id="submit" name="submit"
                                    class="btn btn--secondary btn--general-cta"
                                    [disabled]="disEnableButton" (click)="updateProfile()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>