/* You can add global styles to this file, and also import other style files */
:root {
    --alert-color: #AAA;
    --col-spacing-l: 25px;
    --col-spacing-l: 2.5rem;
    --col-spacing-s: 15px;
    --col-spacing-s: 1.5rem;
    --col-spacing-xm: 20px;
    --col-spacing-xm: 2rem;
    --double-margin: calc(var(--default-margin) * 2);
    --error-color: #cc1c21;
    --half-margin: calc(var(--default-margin) / 2);
    --header-height: 176px;
    --info-color: #d9edf7;
    --inverse-color: #414141;
    --row-spacing-l: 60px;
    --row-spacing-l: 6rem;
    --row-spacing-s: 30px;
    --row-spacing-s: 3rem;
    --row-spacing-xm: 40px;
    --row-spacing-xm: 4rem;
    --row-spacing-xxl: 80px;
    --row-spacing-xxl: 8rem;
    --scrollbar: 0px;
    --success-color: #5bb75b;
    --text-l: 36px;
    --text-l: 3.6rem;
    --text-m: 24px;
    --text-m: 2.4rem;
    --text-s: 20px;
    --text-s: 2rem;
    --text-xl: 48px;
    --text-xl: 4.8rem;
    --text-xs: 18px;
    --text-xs: 1.8rem;
    --text-xxl: 64px;
    --text-xxl: 6.4rem;
    --warning-color: #faa732;
    --rem-size-percent: 62.5%;
    --base-space: 1rem;
    --default-margin: 3rem;
    --primary-color: #b20e00 !important;
    --secondary-color: #121b45;
    --white: #FFFFFF;
    --black: #1C1C1D;
    --site-color: #333333;
    --site-bg: #FFFFFF;
    --link-color: #b20e00;
    --link-color-hover: #870000;
    --p-size: calc(var(--base-space) * 1.6);
    --h1-size: calc(var(--base-space) * 4.8);
    --h1-mobile-size: calc(var(--base-space) * 3);
    --h2-size: calc(var(--base-space) * 3.6);
    --h2-mobile-size: calc(var(--base-space) * 2.4);
    --h3-size: calc(var(--base-space) * 2.5);
    --h4-size: calc(var(--base-space) * 2.1);
    --h5-size: calc(var(--base-space) * 1.6);
    --h6-size: calc(var(--base-space) * 1.4);
    --line-height: 1.45;
    --h-font-weight: 400;
    --link-font-weight: 400;
    --link-td: none;
    --btn-primary-color: #b20e00;
    --btn-primary-color-hov: #870000;
    --btn-secondary-color: #121b45;
    --btn-secondary-color-hov: #070d30;
    --btn-font-weight: 400;
    --btn-p-vert: calc(var(--base-space) * 1);
    --btn-p-horz: calc(var(--base-space) * 2);
    --btn-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 4px 16px rgba(0, 0, 0, 0.175);
    --border-radius: 0.3rem;
    --contrast-text-shadow: 0.075em 0.08em 0.1em black;
    --h-font: 'Anton', Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    --p-font: 'Montserrat', sans-serif;
    --dark-gray-1: #3C3D3F;
    --medium-gray: #050505;
    --dark-gray-2: #333333;
    --light-gray-1: #CCCCCC;
    --light-gray-2: #BBBBBB;
    --third-margin: calc(var(--default-margin) / 3);
    --double-margin: calc(var(--default-margin) * 2);
    --triple-margin: calc(var(--default-margin) * 3);
    --h3-mobile-size: calc(var(--base-space) * 2);
    --mobile-menu-width: 30rem;
    --mobile-menu-padding: 3rem;
    --top-bar-bg: #b20e00;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: #dbdbdc;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    background-color: var(--site-bg);
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: var(--rem-size-percent);
    font-size: var(--rem-size-percent);
    height: 100%;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    width: 100%
}

body {
    background-color: #fff;
    background-color: var(--site-bg);
    color: #333;
    color: var(--site-color);
    font-family: Montserrat, sans-serif;
    font-family: var(--p-font);
    font-size: calc(1rem * 2);
    font-size: var(--p-size);
    line-height: 1.45;
    line-height: var(--line-height);
    margin: 0;
    min-height: 100%;
    padding: 0;
    text-rendering: optimizeLegibility;
    width: 100%
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Anton, Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, 'Arial Black', sans serif;
    font-family: var(--h-font);
    font-weight: 400;
    font-weight: var(--h-font-weight)
}

.h1,
h1 {
    font-size: calc(1rem * 3);
    font-size: var(--h1-mobile-size)
}

.h2,
h2 {
    font-size: calc(1rem * 2.6);
    font-size: var(--h2-mobile-size)
}

.h2.alt,
h2.alt {
    font-weight: 400
}

.h3,
h3 {
    font-size: var(--h3-mobile-size)
}

.h4,
h4 {
    font-size: calc(1rem * 2);
    font-size: var(--h4-size)
}

.h5,
h5 {
    font-size: calc(1rem * 1.8);
    font-size: var(--h5-size)
}

.h6,
h6 {
    font-size: calc(1rem * 1.6);
    font-size: var(--h6-size)
}

a {
    color: #b20e00;
    color: var(--link-color);
    font-weight: 400;
    font-weight: var(--link-font-weight);
    text-decoration: none;
    text-decoration: var(--link-td);
    transition: color .4s cubic-bezier(.39, .575, .565, 1);
    backface-visibility: hidden;
    will-change: color
}

a:active {
    color: #b20e00;
    color: var(--link-color);
    outline: 0;
    text-decoration: none;
    text-decoration: var(--link-td)
}

a:visited {
    color: #b20e00;
    color: var(--link-color);
    outline: 0;
    text-decoration: none;
    text-decoration: var(--link-td)
}

a:focus {
    color: #b20e00;
    color: var(--link-color);
    outline: 0;
    text-decoration: underline
}

a:hover {
    color: #870000;
    color: var(--link-color-hover);
    text-decoration: underline
}

.footer__col--links .menu,
.social-media,
nav ol,
nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.footer__col--links .menu:last-child,
.social-media:last-child,
nav ol:last-child,
nav ul:last-child {
    margin: 0
}

@-webkit-viewport {
    width: device-width
}

@-moz-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}



*,
:after,
:before {
    box-sizing: inherit
}

::-moz-selection {
    background: #1c1c1d;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #1c1c1d;
    color: #fff;
    text-shadow: none
}

.fw--regular-padding {
    padding: calc(3rem * 1) 0;
    padding: calc(var(--row-spacing-s) * 1) 0
}

.fw--double-padding {
    padding: calc(3rem * 2) 0;
    padding: calc(var(--row-spacing-s) * 2) 0
}

.cw {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 18px;
    padding: 0 1.8rem;
    width: 100%
}

.stat-table-container {
    overflow-x: auto
}

.stat-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%
}
.p-component {
    font-family: Montserrat, sans-serif;
    font-family: var(--p-font);
    font-size: calc(1rem * 2);
    font-size: var(--p-size);
}
.form-control {
    font-family: Montserrat, sans-serif;
    font-family: var(--p-font);
    font-size: calc(1rem * 2);
    font-size: var(--p-size);
}

.stat-table th, .card-header, .p-datatable .p-datatable-thead > tr > th {
    border: 1px solid #ccc !important;
    color: #121b45 !important;
    color: var(--secondary-color) !important;
    font-weight: 700 !important;
    padding: 10px !important;
    padding: 1rem !important;
    text-align: left !important;
}

.stat-table td, .p-datatable .p-datatable-tbody > tr > td {
    border: 1px solid #ccc !important;
    padding: 10px !important;
    padding: 1rem !important;
}

.card {
    border: 1px solid #ccc !important;  
}
address {
    font-style: normal
}

dt {
    font-weight: 700
}

dd {
    margin: 0 1.5em 1.5em
}

img {
    height: auto;
    max-width: 100%
}

figure {
    margin: 0 0 30px 0;
    margin: 0 0 3rem 0;
    margin: 0 0 var(--default-margin) 0
}

figure:last-child {
    margin: 0
}

table {
    margin: 0 0 30px 0;
    margin: 0 0 3rem 0;
    margin: 0 0 var(--default-margin) 0;
    width: 100%
}

table:last-child {
    margin: 0
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

ins,
mark {
    background: #fff9c0;
    text-decoration: none
}

big {
    font-size: 125%
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 9.375px;
    font-size: .9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 9.375px;
    font-size: .9375rem
}

address,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 30px 0;
    margin: 0 0 3rem 0;
    margin: 0 0 var(--default-margin) 0
}

address:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 0 0 30px 0;
    margin: 0 0 3rem 0;
    margin: 0 0 var(--default-margin) 0
}

hr:last-child {
    margin-bottom: 0
}

hr.hr30 {
    background-color: transparent;
    border: 0;
    height: 30px;
    height: 3rem;
    margin: 0
}

ol,
ul {
    margin: 0 0 30px 30px;
    margin: 0 0 3rem 3rem;
    margin: 0 0 var(--default-margin) var(--default-margin);
    padding: 0
}

ol:last-child,
ul:last-child {
    margin: 0 0 0 30px;
    margin: 0 0 0 3rem;
    margin: 0 0 0 var(--default-margin)
}

nav ol:last-child,
nav ul:last-child {
    margin: 0
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li>ol,
li>ul {
    margin-bottom: 0;
    margin-left: 1.5em
}

.no-break {
    display: inline-block;
    vertical-align: baseline;
    white-space: nowrap;
    word-break: keep-all
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.white {
    color: #fff;
    color: var(--white)
}

.black {
    color: #1c1c1d;
    color: var(--black)
}

.primary-color {
    color: #b20e00;
    color: var(--primary-color)
}

.secondary-color {
    color: #121b45;
    color: var(--secondary-color)
}

.icon,
[class^=icon-] {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em
}

.text--xxl {
    font-size: 64px;
    font-size: 6.4rem;
    font-size: var(--text-xxl)
}

.text--xl {
    font-size: 48px;
    font-size: 4.8rem;
    font-size: var(--text-xl)
}

.text--l {
    font-size: 36px;
    font-size: 3.6rem;
    font-size: var(--text-l)
}

.text--m {
    font-size: 24px;
    font-size: 2.4rem;
    font-size: var(--text-m)
}

.text--s {
    font-size: 20px;
    font-size: 2rem;
    font-size: var(--text-s)
}

.text--xs {
    font-size: 18px;
    font-size: 1.8rem;
    font-size: var(--text-xs)
}

.text--white .h1,
.text--white .h2,
.text--white .h3,
.text--white .h4,
.text--white .h5,
.text--white .h6,
.text--white a:not(.btn),
.text--white a:not(.btn):active,
.text--white a:not(.btn):focus,
.text--white a:not(.btn):hover,
.text--white a:not(.btn):visited,
.text--white address,
.text--white h1,
.text--white h2,
.text--white h3,
.text--white h4,
.text--white h5,
.text--white h6,
.text--white ol,
.text--white ol li,
.text--white p,
.text--white span,
.text--white svg,
.text--white ul,
.text--white ul li {
    color: #fff;
    color: var(--white)
}

.text--white a {
    font-weight: 600;
    text-decoration: underline
}

.text--primary-color .h1,
.text--primary-color .h2,
.text--primary-color .h3,
.text--primary-color .h4,
.text--primary-color .h5,
.text--primary-color .h6,
.text--primary-color a:not(.btn),
.text--primary-color a:not(.btn):active,
.text--primary-color a:not(.btn):focus,
.text--primary-color a:not(.btn):hover,
.text--primary-color a:not(.btn):visited,
.text--primary-color address,
.text--primary-color h1,
.text--primary-color h2,
.text--primary-color h3,
.text--primary-color h4,
.text--primary-color h5,
.text--primary-color h6,
.text--primary-color ol,
.text--primary-color ol li,
.text--primary-color p,
.text--primary-color span,
.text--primary-color ul,
.text--primary-color ul li {
    color: #b20e00;
    color: var(--primary-color)
}

.text--secondary-color .h1,
.text--secondary-color .h2,
.text--secondary-color .h3,
.text--secondary-color .h4,
.text--secondary-color .h5,
.text--secondary-color .h6,
.text--secondary-color a:not(.btn),
.text--secondary-color a:not(.btn):active,
.text--secondary-color a:not(.btn):focus,
.text--secondary-color a:not(.btn):hover,
.text--secondary-color a:not(.btn):visited,
.text--secondary-color address,
.text--secondary-color h1,
.text--secondary-color h2,
.text--secondary-color h3,
.text--secondary-color h4,
.text--secondary-color h5,
.text--secondary-color h6,
.text--secondary-color ol,
.text--secondary-color ol li,
.text--secondary-color p,
.text--secondary-color span,
.text--secondary-color ul,
.text--secondary-color ul li {
    color: #121b45;
    color: var(--secondary-color)
}

.click-to-call--big {
    color: #fff;
    color: var(--white);
    font-size: 18px;
    font-size: 1.8rem;
    font-size: var(--text-xs);
    font-weight: 700
}

.click-to-call--big:focus,
.click-to-call--big:hover {
    color: #fff;
    color: var(--white)
}

.main-address.main-address--big {
    color: #fff;
    color: var(--white);
    font-size: 18px;
    font-size: 1.8rem;
    font-size: var(--text-xs);
    font-weight: 700;
    margin-bottom: 5px;
    margin-bottom: .5rem
}


.phone-link-shortcode span,
.phone-link-shortcode svg {
    vertical-align: middle
}

.fw--top-bar {
    display: none
}

.top-bar__row {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.top-bar__col--content {
    flex-basis: 71.42857%;
    max-width: 71.42857%;
    text-align: left
}

.top-bar__col--phone {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
    text-align: right
}

.top-bar__col--my-account {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
    text-align: right
}

.top-bar__content {
    color: #fff;
    color: var(--white);
    font-family: Anton, Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, 'Arial Black', sans serif;
    font-family: var(--h-font);
    font-size: calc(1rem * 2);
    font-size: var(--p-size);
    line-height: 1;
    text-transform: uppercase
}

.top-bar__click-to-call {
    color: #fff;
    color: var(--white);
    font-family: Anton, Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, 'Arial Black', sans serif;
    font-family: var(--h-font);
    font-size: calc(1rem * 2);
    font-size: var(--p-size);
    line-height: 1;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-transform: uppercase
}

.top-bar__click-to-call:active,
.top-bar__click-to-call:visited {
    color: #fff;
    color: var(--white)
}

.top-bar__click-to-call:focus,
.top-bar__click-to-call:hover {
    color: #efefef
}

.top-bar__my-account {
    color: #fff;
    color: var(--white);
    font-family: Anton, Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, 'Arial Black', sans serif;
    font-family: var(--h-font);
    font-size: calc(1rem * 2);
    font-size: var(--p-size);
    line-height: 1;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-transform: uppercase
}

.top-bar__my-account:active,
.top-bar__my-account:visited {
    color: #fff;
    color: var(--white)
}

.top-bar__my-account:focus,
.top-bar__my-account:hover {
    color: #efefef
}

.offset-header {
    height: 0;
    padding: 0;
    transition: padding .3s cubic-bezier(.39, .575, .565, 1);
    backface-visibility: hidden;
    will-change: padding
}

.fw--main-header {
    padding: 5px 0;
    padding: .5rem 0
}

.main-header .offset-header {
    height: 0;
    padding: 0;
    transition: padding .3s cubic-bezier(.39, .575, .565, 1);
    backface-visibility: hidden;
    will-change: padding
}

.main-header__container--fixed {
    background-color: rgba(0, 0, 0, .75);
    left: 0;
    /*position: fixed; Mohan*/
    top: 0;
    width: 100%;
    z-index: 9999
}

.admin-bar .main-header__container--fixed {
    top: 46px;
    top: 4.6rem
}

.scrolling-progress-active .main-header__container--fixed {
    top: 7px;
    top: .7rem
}

.scrolling-progress-active.admin-bar .main-header__container--fixed {
    top: 53px;
    top: 5.3rem
}

.main-header__row {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.main-header__col--mobile-menu {
    text-align: center
}

.main-header__col--mobile-menu--offset {
    order: 3
}

.main-header__col--book-now {
    text-align: center
}

.main-header__col--logo--offset {
    order: 1
}

.main-header__col--navigation {
    display: none
}

.main-header__logo-link {
    color: #fff;
    color: var(--white);
    display: block;
    line-height: 1;
    transition: color .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: color
}

.main-header__logo-link:active,
.main-header__logo-link:visited {
    color: #fff;
    color: var(--white)
}

.main-header__logo-link:focus,
.main-header__logo-link:hover {
    color: #efefef
}

.main-header__logo-link--icon svg {
    display: block;
    height: 55px;
    height: 5.5rem;
    width: 125px;
    width: 12.5rem
}

.main-header__mobile-menu {
    color: #fff;
    color: var(--white);
    display: block;
    height: 30px;
    height: 3rem;
    line-height: 1;
    width: 30px;
    width: 3rem
}

.main-header__mobile-menu:active,
.main-header__mobile-menu:visited {
    color: #fff;
    color: var(--white)
}

.main-header__mobile-menu:focus,
.main-header__mobile-menu:hover {
    color: #fff;
    color: var(--white)
}

.main-header__mobile-menu svg {
    height: 30px;
    height: 3rem;
    width: 30px;
    width: 3rem
}

.main-header__book-now-link {
    background-color: #121b45;
    background-color: var(--secondary-color);
    border: 1px solid #fff;
    border: 1px solid var(--white);
    border-radius: .3rem;
    border-radius: var(--border-radius);
    color: #fff;
    color: var(--white);
    display: block;
    font-family: Anton, Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, 'Arial Black', sans serif;
    font-family: var(--h-font);
    font-weight: 400;
    padding: 5px 15px;
    padding: .5rem 1.5rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-transform: uppercase;
    transition: background-color .4s cubic-bezier(.25, .46, .45, .94), color .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: background-color, color
}

.main-header__book-now-link:active,
.main-header__book-now-link:visited {
    background-color: #121b45;
    background-color: var(--secondary-color);
    color: #fff;
    color: var(--white)
}

.main-header__book-now-link:focus,
.main-header__book-now-link:hover {
    background-color: #070d30;
    background-color: var(--btn-secondary-color-hov);
    color: #fff;
    color: var(--white);
    text-decoration: none
}

.sidebarmenu  {
    display: none;
  }
.offset-menu {
    background-color: #1c1c1d;
    background-color: var(--black);
    box-shadow: 0 0 0 0 transparent;
    height: 100%;
    left: calc(30rem * -1);
    left: calc(var(--mobile-menu-width) * -1);
    max-width: 300px;
    max-width: 30rem;
    max-width: var(--mobile-menu-width);
    padding: 3rem calc(3rem / 2);
    padding: var(--mobile-menu-padding) calc(var(--mobile-menu-padding)/ 2);
    position: fixed;
    top: 0;
    transform-origin: top left;
    transition: left .4s cubic-bezier(.25, .46, .45, .94), box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: left, box-shadow;
    width: 95%;
    z-index: 9999
}

.admin-bar .offset-menu {
    top: 46px;
    top: 4.6rem
}

.offset-menu.offset-menu--active {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .5);
    left: 0;
    overflow: scroll;
    transition: left .4s cubic-bezier(.25, .46, .45, .94), box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: left, box-shadow
}

.offset-menu.offset-menu--offset {
    box-shadow: 0 0 0 0 transparent;
    left: auto;
    right: calc(30rem * -1);
    right: calc(var(--mobile-menu-width) * -1);
    transform-origin: top right;
    transition: right .4s cubic-bezier(.25, .46, .45, .94), box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: right, box-shadow
}

.offset-menu.offset-menu--offset.offset-menu.offset-menu--active {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .5);
    left: auto;
    right: 0;
    transition: right .4s cubic-bezier(.25, .46, .45, .94), box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: right, box-shadow
}

.offset-menu__close {
    color: #fff;
    color: var(--white);
    position: absolute;
    right: 30px;
    right: 3rem;
    right: var(--mobile-menu-padding);
    top: 30px;
    top: 3rem;
    top: var(--mobile-menu-padding)
}

.offset-menu__close svg {
    height: 20px;
    height: 2rem;
    width: 20px;
    width: 2rem
}

.offset-menu__navigation {
    padding-bottom: calc(3rem / 2);
    padding-bottom: var(--half-margin);
    padding-top: 30px;
    padding-top: 3rem;
    padding-top: var(--mobile-menu-padding)
}

.offset-menu__nav li {
    margin-bottom: 5px;
    margin-bottom: .5rem
}

.offset-menu__nav li a, .offset-menu__nav li span {
    background-color: #121b45;
    background-color: var(--secondary-color);
    color: #fff;
    color: var(--white);
    display: block;
    padding: .5rem calc(3rem / 2);
    padding: 5px var(--half-margin);
    padding: .5rem var(--half-margin)
}

.offset-menu__nav li a:active,
.offset-menu__nav li a:visited {
    color: #fff;
    color: var(--white)
}

.offset-menu__nav li a:focus,
.offset-menu__nav li a:hover, .offset-menu__nav li span:hover {
    color: #fff;
    color: var(--white)
}

.offset-menu__nav li.offset-menu__btn-link a {
    background-color: #b20e00;
    background-color: var(--primary-color);
    font-weight: 700
}

.offset-menu__nav li.offset-menu__btn-link a:active,
.offset-menu__nav li.offset-menu__btn-link a:visited {
    color: #fff;
    color: var(--white)
}

.offset-menu__nav li.offset-menu__btn-link a:focus,
.offset-menu__nav li.offset-menu__btn-link a:hover {
    color: #fff;
    color: var(--white)
}

.offset-menu__information {
    border-top: 1px solid #fff;
    border-top: 1px solid var(--white);
    padding-top: calc(3rem / 2);
    padding-top: var(--half-margin)
}

.offset-menu__phone-container {
    margin-bottom: calc(3rem / 2);
    margin-bottom: var(--half-margin);
    text-align: center
}

.offset-menu__click-to-call {
    color: #fff;
    color: var(--white);
    font-weight: 600;
    line-height: 1
}

.offset-menu__address-container {
    margin-bottom: calc(3rem / 2);
    margin-bottom: var(--half-margin);
    text-align: center
}

.offset-menu__address {
    color: #fff;
    color: var(--white);
    font-weight: 600;
    line-height: 1.1
}

.offset-menu__socials {
    margin-bottom: calc(3rem / 2);
    margin-bottom: var(--half-margin);
    text-align: center
}

.offset-menu__logo-link {
    color: #fff;
    color: var(--white);
    display: block;
    line-height: 1;
    margin: 0 auto;
    transition: color .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: color
}

.offset-menu__logo-link:active,
.offset-menu__logo-link:visited {
    color: #fff;
    color: var(--white)
}

.offset-menu__logo-link:focus,
.offset-menu__logo-link:hover {
    color: #efefef
}

.offset-menu__logo-link--icon svg {
    display: block;
    height: 55px;
    height: 5.5rem;
    margin: 0 auto;
    width: 125px;
    width: 12.5rem
}

.main-navigation {
    align-items: flex-start;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 5px 0;
    padding: .5rem 0
}

.main-navigation li.menu-item {
    display: block
}

.main-navigation li.menu-item a {
    background-color: transparent;
    border-radius: .3rem;
    border-radius: var(--border-radius);
    color: #fff;
    color: var(--white);
    display: block;
    font-family: Anton, Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, 'Arial Black', sans serif;
    font-family: var(--h-font);
    font-weight: 400;
    padding: 5px 15px;
    padding: .5rem 1.5rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-transform: uppercase;
    transition: background-color .4s cubic-bezier(.25, .46, .45, .94), color .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: background-color, color
}

.main-navigation li.menu-item a:active,
.main-navigation li.menu-item a:visited {
    background-color: transparent;
    color: #fff;
    color: var(--white)
}

.main-navigation li.menu-item a:focus,
.main-navigation li.menu-item a:hover {
    background-color: rgba(178, 14, 0, .5);
    color: rgba(255, 255, 255, .9);
    text-decoration: none
}

.main-navigation li.menu-item.current-menu-item a {
    background-color: rgba(178, 14, 0, .6);
    color: #fff;
    color: var(--white);
    text-decoration: none
}

.main-navigation li.menu-item.menu-item--btn a {
    background-color: #121b45;
    background-color: var(--secondary-color);
    border: 1px solid #fff;
    border: 1px solid var(--white);
    border-radius: .3rem;
    border-radius: var(--border-radius);
    color: #fff;
    color: var(--white)
}

.main-navigation li.menu-item.menu-item--btn a:active,
.main-navigation li.menu-item.menu-item--btn a:visited {
    background-color: #121b45;
    background-color: var(--secondary-color);
    color: #fff;
    color: var(--white)
}

.main-navigation li.menu-item.menu-item--btn a:focus,
.main-navigation li.menu-item.menu-item--btn a:hover {
    background-color: #070d30;
    background-color: var(--btn-secondary-color-hov);
    color: #fff;
    color: var(--white);
    text-decoration: none
}

.branding-footer {
    padding: 10px 0;
    padding: 1rem 0
}

.branding-footer__link,
.branding-footer__text {
    display: block;
    font-size: 11px;
    font-size: 1.1rem;
    margin: 0 auto;
    max-width: 180px;
    max-width: 18rem;
    text-align: center
}

.branding-footer__link svg,
.branding-footer__text svg {
    height: 42px;
    height: 4.2rem;
    width: 120px;
    width: 12rem
}

.branding-footer__link span,
.branding-footer__text span {
    display: block
}

.fw--footer {
    padding: 20px 0;
    padding: 2rem 0
}

.footer__row {
    align-items: flex-start;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.footer__col {
    padding: 0 calc(3rem / 3);
    padding: 0 calc(var(--default-margin)/ 3)
}

.footer__col--info {
    flex-basis: 100%;
    max-width: 100%;
    padding-bottom: calc(3rem * .8);
    padding-bottom: calc(var(--default-margin) * .8);
    text-align: center
}

.footer__col--links {
    flex-basis: 100%;
    max-width: 100%;
    padding-bottom: calc(3rem * .8);
    padding-bottom: calc(var(--default-margin) * .8);
    text-align: center
}

.footer__col--links .menu .menu-item {
    margin-bottom: 10px;
    margin-bottom: 1rem
}

.footer__col--links .menu .menu-item:last-child {
    margin-bottom: 0
}

.footer__col--links .menu .menu-item a {
    color: #333;
    color: var(--site-color);
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.1
}

.footer__col--links .menu .menu-item a:active,
.footer__col--links .menu .menu-item a:visited {
    color: #333;
    color: var(--site-color)
}

.footer__col--links .menu .menu-item a:focus,
.footer__col--links .menu .menu-item a:hover {
    color: #333;
    color: var(--site-color);
    text-decoration: underline
}

.footer__col--actions {
    flex-basis: 100%;
    max-width: 100%;
    padding-bottom: calc(3rem * .8);
    padding-bottom: calc(var(--default-margin) * .8)
}

.footer__address {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: calc(3rem / 2);
    margin-bottom: var(--half-margin)
}

.footer__click-to-call {
    font-size: 20px;
    font-size: 2rem
}

.footer__click-to-call span,
.footer__click-to-call svg {
    display: inline-block;
    vertical-align: middle
}

.footer__click-to-call span {
    margin-left: 5px;
    margin-left: .5rem
}

.footer__logo-link {
    display: block;
    margin: 0 auto calc(3rem / 2);
    margin: 0 auto var(--half-margin);
    max-width: 250px;
    max-width: 25rem;
    width: 100%
}

.footer__terms-links {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(3rem / 2);
    margin-top: var(--half-margin)
}

.footer__terms-link {
    padding: 0 5px;
    padding: 0 .5rem
}

.footer__terms-link a {
    color: #333;
    color: var(--site-color);
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;
    padding: 0 5px;
    padding: 0 .5rem;
    text-align: center
}

.footer__terms-link a:active,
.footer__terms-link a:visited {
    color: #333;
    color: var(--site-color)
}

.footer__terms-link a:focus,
.footer__terms-link a:hover {
    color: #333;
    color: var(--site-color);
    text-decoration: underline
}

.footer__terms-link:last-child {
    border-left: 1px solid #121b45;
    border-left: 1px solid var(--secondary-color)
}

.btn--secondary.btn--footer {
    display: block;
    margin-bottom: calc(3rem / 2);
    margin-bottom: var(--half-margin);
    margin-left: auto;
    margin-right: auto;
    max-width: -moz-fit-content;
    max-width: fit-content
}

.btn--secondary.btn--footer:last-child {
    margin-bottom: 0
}

.footer-bot__row {
    align-items: flex-start;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.offset-menu {
    background-color: #1c1c1d;
    background-color: var(--black);
    box-shadow: 0 0 0 0 transparent;
    height: 100%;
    left: calc(30rem * -1);
    left: calc(var(--mobile-menu-width) * -1);
    max-width: 300px;
    max-width: 30rem;
    max-width: var(--mobile-menu-width);
    padding: 3rem calc(3rem / 2);
    padding: var(--mobile-menu-padding) calc(var(--mobile-menu-padding)/ 2);
    position: fixed;
    top: 0;
    transform-origin: top left;
    transition: left .4s cubic-bezier(.25, .46, .45, .94), box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: left, box-shadow;
    width: 95%;
    z-index: 9999
}

.admin-bar .offset-menu {
    top: 46px;
    top: 4.6rem
}

.offset-menu.offset-menu--active {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .5);
    left: 0;
    overflow: scroll;
    transition: left .4s cubic-bezier(.25, .46, .45, .94), box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: left, box-shadow
}

.offset-menu.offset-menu--offset {
    box-shadow: 0 0 0 0 transparent;
    left: auto;
    right: calc(30rem * -1);
    right: calc(var(--mobile-menu-width) * -1);
    transform-origin: top right;
    transition: right .4s cubic-bezier(.25, .46, .45, .94), box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: right, box-shadow
}

.offset-menu.offset-menu--offset.offset-menu.offset-menu--active {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .5);
    left: auto;
    right: 0;
    transition: right .4s cubic-bezier(.25, .46, .45, .94), box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: right, box-shadow
}

.offset-menu__close {
    color: #fff;
    color: var(--white);
    position: absolute;
    right: 30px;
    right: 3rem;
    right: var(--mobile-menu-padding);
    top: 30px;
    top: 3rem;
    top: var(--mobile-menu-padding)
}

.offset-menu__close svg {
    height: 20px;
    height: 2rem;
    width: 20px;
    width: 2rem
}

.offset-menu__navigation {
    padding-bottom: calc(3rem / 2);
    padding-bottom: var(--half-margin);
    padding-top: 30px;
    padding-top: 3rem;
    padding-top: var(--mobile-menu-padding)
}

.offset-menu__nav li {
    margin-bottom: 5px;
    margin-bottom: .5rem
}

.offset-menu__nav li a, .offset-menu__nav li span {
    background-color: #121b45;
    background-color: var(--secondary-color);
    color: #fff;
    color: var(--white);
    display: block;
    padding: .5rem calc(3rem / 2);
    padding: 5px var(--half-margin);
    padding: .5rem var(--half-margin)
}

.offset-menu__nav li a:active,
.offset-menu__nav li a:visited {
    color: #fff;
    color: var(--white)
}

.offset-menu__nav li a:focus,
.offset-menu__nav li a:hover, .offset-menu__nav li span:hover {
    color: #fff;
    color: var(--white)
}

.offset-menu__nav li.offset-menu__btn-link a {
    background-color: #b20e00;
    background-color: var(--primary-color);
    font-weight: 700
}

.offset-menu__nav li.offset-menu__btn-link a:active,
.offset-menu__nav li.offset-menu__btn-link a:visited {
    color: #fff;
    color: var(--white)
}

.offset-menu__nav li.offset-menu__btn-link a:focus,
.offset-menu__nav li.offset-menu__btn-link a:hover {
    color: #fff;
    color: var(--white)
}

.offset-menu__information {
    border-top: 1px solid #fff;
    border-top: 1px solid var(--white);
    padding-top: calc(3rem / 2);
    padding-top: var(--half-margin)
}

.offset-menu__phone-container {
    margin-bottom: calc(3rem / 2);
    margin-bottom: var(--half-margin);
    text-align: center
}

.offset-menu__click-to-call {
    color: #fff;
    color: var(--white);
    font-weight: 600;
    line-height: 1
}

.offset-menu__address-container {
    margin-bottom: calc(3rem / 2);
    margin-bottom: var(--half-margin);
    text-align: center
}

.offset-menu__address {
    color: #fff;
    color: var(--white);
    font-weight: 600;
    line-height: 1.1
}

.offset-menu__socials {
    margin-bottom: calc(3rem / 2);
    margin-bottom: var(--half-margin);
    text-align: center
}

.offset-menu__logo-link {
    color: #fff;
    color: var(--white);
    display: block;
    line-height: 1;
    margin: 0 auto;
    transition: color .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: color
}

.offset-menu__logo-link:active,
.offset-menu__logo-link:visited {
    color: #fff;
    color: var(--white)
}

.offset-menu__logo-link:focus,
.offset-menu__logo-link:hover {
    color: #efefef
}

.offset-menu__logo-link--icon svg {
    display: block;
    height: 55px;
    height: 5.5rem;
    margin: 0 auto;
    width: 125px;
    width: 12.5rem
}

.btn {
    border-radius: .3rem;
    border-radius: var(--border-radius);
    display: inline-block;
    font-family: Anton, Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, 'Arial Black', sans serif;
    font-family: var(--h-font);
    font-size: calc(calc(1rem * 2) + .4rem);
    font-size: calc(var(--p-size) + .4rem);
    font-weight: 400;
    font-weight: var(--btn-font-weight);
    padding: calc(1rem * 1) calc(1rem * 2);
    padding: var(--btn-p-vert) var(--btn-p-horz);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-color .4s cubic-bezier(.25, .46, .45, .94), background-color .4s cubic-bezier(.25, .46, .45, .94), color .4s cubic-bezier(.25, .46, .45, .94);
    backface-visibility: hidden;
    will-change: border-color, background-color, color
}

.btn span,
.btn svg {
    color: currentColor;
    display: inline-block;
    vertical-align: middle
}

.btn:active,
.btn:visited {
    outline: 0
}

.btn:focus,
.btn:hover {
    outline: 0
}

.btn:focus span,
.btn:focus svg,
.btn:hover span,
.btn:hover svg {
    color: currentColor
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-family: var(--p-font);
    padding: 0
}

.btn--primary {
    background-color: #b20e00;
    background-color: var(--btn-primary-color);
    border: 2px solid #b20e00;
    border: 2px solid var(--btn-primary-color);
    color: #fff
}

.btn--primary span,
.btn--primary svg {
    color: #fff
}

.btn--primary:active,
.btn--primary:visited {
    color: #fff
}

.btn--primary:focus,
.btn--primary:hover {
    background-color: #870000;
    background-color: var(--btn-primary-color-hov);
    border-color: #870000;
    border-color: var(--btn-primary-color-hov);
    color: #fff;
    text-decoration: none
}

.btn--primary:focus span,
.btn--primary:focus svg,
.btn--primary:hover span,
.btn--primary:hover svg {
    color: #fff
}

.btn--primary-o {
    background-color: transparent;
    border: 2px solid #b20e00;
    border: 2px solid var(--btn-primary-color);
    color: #b20e00;
    color: var(--btn-primary-color)
}

.btn--primary-o span,
.btn--primary-o svg {
    color: #b20e00;
    color: var(--btn-primary-color)
}

.btn--primary-o:active,
.btn--primary-o:visited {
    color: #b20e00;
    color: var(--btn-primary-color)
}

.btn--primary-o:focus,
.btn--primary-o:hover {
    background-color: #870000;
    background-color: var(--btn-primary-color-hov);
    border-color: #870000;
    border-color: var(--btn-primary-color-hov);
    color: #fff;
    text-decoration: none
}

.btn--primary-o:focus span,
.btn--primary-o:focus svg,
.btn--primary-o:hover span,
.btn--primary-o:hover svg {
    color: #fff
}

.btn--secondary {
    background-color: #121b45;
    background-color: var(--btn-secondary-color);
    border: 2px solid #121b45;
    border: 2px solid var(--btn-secondary-color);
    color: #fff
}

.btn--secondary span,
.btn--secondary svg {
    color: #fff
}

.btn--secondary:active,
.btn--secondary:visited {
    color: #fff
}

.btn--secondary:focus,
.btn--secondary:hover {
    background-color: #070d30;
    background-color: var(--btn-secondary-color-hov);
    border-color: #070d30;
    border-color: var(--btn-secondary-color-hov);
    color: #fff;
    text-decoration: none
}

.btn--secondary:focus span,
.btn--secondary:focus svg,
.btn--secondary:hover span,
.btn--secondary:hover svg {
    color: #fff
}

.btn--secondary-o {
    background-color: transparent;
    border: 2px solid #121b45;
    border: 2px solid var(--btn-secondary-color);
    color: #121b45;
    color: var(--btn-secondary-color)
}

.btn--secondary-o span,
.btn--secondary-o svg {
    color: #121b45;
    color: var(--btn-secondary-color)
}

.btn--secondary-o:active,
.btn--secondary-o:visited {
    color: #121b45;
    color: var(--btn-secondary-color)
}

.btn--secondary-o:focus,
.btn--secondary-o:hover {
    background-color: #070d30;
    background-color: var(--btn-secondary-color-hov);
    border-color: #070d30;
    border-color: var(--btn-secondary-color-hov);
    color: #fff;
    text-decoration: none
}

.btn--secondary-o:focus span,
.btn--secondary-o:focus svg,
.btn--secondary-o:hover span,
.btn--secondary-o:hover svg {
    color: #fff
}

.btn--black {
    background-color: #1c1c1d;
    background-color: var(--black);
    border: 2px solid #1c1c1d;
    border: 2px solid var(--black);
    color: #fff
}

.btn--black span,
.btn--black svg {
    color: #fff
}

.btn--black:active,
.btn--black:visited {
    color: #fff
}

.btn--black:focus,
.btn--black:hover {
    background-color: #1c1c1d;
    background-color: var(--black);
    border-color: #1c1c1d;
    border-color: var(--black);
    color: #fff;
    text-decoration: none
}

.btn--black:focus span,
.btn--black:focus svg,
.btn--black:hover span,
.btn--black:hover svg {
    color: #fff
}

.btn--black-o {
    background-color: transparent;
    border: 2px solid #1c1c1d;
    border: 2px solid var(--black);
    color: #1c1c1d;
    color: var(--black)
}

.btn--black-o span,
.btn--black-o svg {
    color: #1c1c1d;
    color: var(--black)
}

.btn--black-o:active,
.btn--black-o:visited {
    color: #1c1c1d;
    color: var(--black)
}

.btn--black-o:focus,
.btn--black-o:hover {
    background-color: #1c1c1d;
    background-color: var(--black);
    border-color: #1c1c1d;
    border-color: var(--black);
    color: #fff;
    text-decoration: none
}

.btn--black-o:focus span,
.btn--black-o:focus svg,
.btn--black-o:hover span,
.btn--black-o:hover svg {
    color: #fff
}

.btn--white-primary {
    background-color: #fff;
    background-color: var(--white);
    border: 2px solid #fff;
    border: 2px solid var(--white);
    color: #b20e00;
    color: var(--btn-primary-color)
}

.btn--white-primary span,
.btn--white-primary svg {
    color: #b20e00;
    color: var(--btn-primary-color)
}

.btn--white-primary:active,
.btn--white-primary:visited {
    color: #b20e00;
    color: var(--btn-primary-color)
}

.btn--white-primary:focus,
.btn--white-primary:hover {
    background-color: #fff;
    background-color: var(--white);
    border-color: #fff;
    border-color: var(--white);
    color: #870000;
    color: var(--btn-primary-color-hov);
    text-decoration: none
}

.btn--white-primary:focus span,
.btn--white-primary:focus svg,
.btn--white-primary:hover span,
.btn--white-primary:hover svg {
    color: #870000;
    color: var(--btn-primary-color-hov)
}

.btn--white-secondary {
    background-color: #fff;
    background-color: var(--white);
    border: 2px solid #fff;
    border: 2px solid var(--white);
    color: #121b45;
    color: var(--btn-secondary-color)
}

.btn--white-secondary span,
.btn--white-secondary svg {
    color: #121b45;
    color: var(--btn-secondary-color)
}

.btn--white-secondary:active,
.btn--white-secondary:visited {
    color: #121b45;
    color: var(--btn-secondary-color)
}

.btn--white-secondary:focus,
.btn--white-secondary:hover {
    background-color: #fff;
    background-color: var(--white);
    border-color: #fff;
    border-color: var(--white);
    color: #070d30;
    color: var(--btn-secondary-color-hov);
    text-decoration: none
}

.btn--white-secondary:focus span,
.btn--white-secondary:focus svg,
.btn--white-secondary:hover span,
.btn--white-secondary:hover svg {
    color: #070d30;
    color: var(--btn-secondary-color-hov)
}

.btn--white-o {
    background-color: transparent;
    border: 2px solid #fff;
    border: 2px solid var(--white);
    color: #fff;
    color: var(--white)
}

.btn--white-o span,
.btn--white-o svg {
    color: #fff;
    color: var(--white)
}

.btn--white-o:active,
.btn--white-o:visited {
    color: #fff;
    color: var(--white)
}

.btn--white-o:focus,
.btn--white-o:hover {
    background-color: #fff;
    background-color: var(--white);
    border-color: #fff;
    border-color: var(--white);
    color: #1c1c1d;
    color: var(--black);
    text-decoration: none
}

.btn--white-o:focus span,
.btn--white-o:focus svg,
.btn--white-o:hover span,
.btn--white-o:hover svg {
    color: #1c1c1d;
    color: var(--black)
}

.btn--white {
    background-color: #fff;
    background-color: var(--white);
    border: 2px solid #fff;
    border: 2px solid var(--white);
    color: #1c1c1d;
    color: var(--black)
}

.btn--white span,
.btn--white svg {
    color: #1c1c1d;
    color: var(--black)
}

.btn--white:active,
.btn--white:visited {
    color: #1c1c1d;
    color: var(--black)
}

.btn--white:focus,
.btn--white:hover {
    background-color: #fff;
    background-color: var(--white);
    border-color: #fff;
    border-color: var(--white);
    color: #1c1c1d;
    color: var(--black);
    text-decoration: none
}

.btn--white:focus span,
.btn--white:focus svg,
.btn--white:hover span,
.btn--white:hover svg {
    color: #1c1c1d;
    color: var(--black)
}

.btn--general-cta {
    display: inline-block;
    margin: 30px 0;
    margin: 3rem 0;
    margin: var(--default-margin) 0;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%
}

.btn--general-cta:first-child {
    margin-top: 0
}

.btn--general-cta:last-child {
    margin-bottom: 0
}

.btn--general-cta.btn--double-cta {
    margin-bottom: 0;
    max-width: 100%
}

.btn--general-cta.btn--double-cta+.btn--double-cta {
    margin-left: 0;
    margin-top: calc(3rem / 2);
    margin-top: calc(var(--default-margin)/ 2)
}

.btn--centered {
    display: block;
    margin: 30px auto;
    margin: 3rem auto;
    margin: var(--default-margin) auto;
    max-width: -moz-fit-content;
    max-width: fit-content;
    min-width: 0
}

.btn--centered:first-child {
    margin-top: 0
}

.btn--centered:last-child {
    margin-bottom: 0
}

.btn--uppercase {
    text-transform: uppercase
}

.btn--uppercase span,
.btn--uppercase svg {
    text-transform: uppercase
}

.btn--icon-left svg {
    margin: 0 10px 0 0;
    margin: 0 1rem 0 0
}

.btn--icon-right svg {
    margin: 0 0 0 10px;
    margin: 0 0 0 1rem
}

.social-media-container {
    display: block
}

.social-media {
    display: block
}

.social-media__single {
    display: inline-block;
    margin: 0 5px;
    margin: 0 .5rem
}

.social-media__link {
    color: #121b45;
    color: var(--secondary-color);
    display: block;
    height: 25px;
    height: 2.5rem;
    width: 25px;
    width: 2.5rem
}

.offset-menu .social-media__link {
    color: #fff;
    color: var(--white)
}

.social-media__link:active,
.social-media__link:visited {
    color: #121b45;
    color: var(--secondary-color)
}

.offset-menu .social-media__link:active,
.offset-menu .social-media__link:visited {
    color: #fff;
    color: var(--white)
}

.social-media__link:focus,
.social-media__link:hover {
    color: #070d30;
    color: var(--btn-secondary-color-hov)
}

.offset-menu .social-media__link:focus,
.offset-menu .social-media__link:hover {
    color: #fff;
    color: var(--white)
}

.social-media__link svg {
    height: 25px;
    height: 2.5rem;
    width: 25px;
    width: 2.5rem
}

.offset-menu .social-media__link {
    color: #fff;
    color: var(--white)
}


.social-media-container {
    display: block
}

.social-media {
    display: block
}

.social-media__single {
    display: inline-block;
    margin: 0 5px;
    margin: 0 .5rem
}

.social-media__link {
    color: #121b45;
    color: var(--secondary-color);
    display: block;
    height: 25px;
    height: 2.5rem;
    width: 25px;
    width: 2.5rem
}

.offset-menu .social-media__link {
    color: #fff;
    color: var(--white)
}

.social-media__link:active,
.social-media__link:visited {
    color: #121b45;
    color: var(--secondary-color)
}

.offset-menu .social-media__link:active,
.offset-menu .social-media__link:visited {
    color: #fff;
    color: var(--white)
}

.social-media__link:focus,
.social-media__link:hover {
    color: #070d30;
    color: var(--btn-secondary-color-hov)
}

.offset-menu .social-media__link:focus,
.offset-menu .social-media__link:hover {
    color: #fff;
    color: var(--white)
}

.social-media__link svg {
    height: 25px;
    height: 2.5rem;
    width: 25px;
    width: 2.5rem
}

.offset-menu .social-media__link {
    color: #fff;
    color: var(--white)
}


@media screen and (min-width:37.5em) {
    .cw {
        max-width: 91.66667%;
        padding: 0
    }
    .sidebarmenu {
        display: none;
    }
}

@media screen and (min-width:48em) {
    .fw--regular-padding {
        padding: calc(4rem * 1) 0;
        padding: calc(var(--row-spacing-xm) * 1) 0
    }

    .fw--double-padding {
        padding: calc(4rem * 2) 0;
        padding: calc(var(--row-spacing-xm) * 2) 0
    }

    .cw {
        max-width: 93.09896%
    }

    .main-header__logo-link--icon svg {
        height: 75px;
        height: 7.5rem;
        width: 170px;
        width: 17rem
    }

    .main-header__book-now-link {
        font-size: 18px;
        font-size: 1.8rem;
        font-size: var(--text-xs);
        padding: 5px 15px;
        padding: .5rem 1.5rem
    }

    .admin-bar .offset-menu {
        top: 32px;
        top: 3.2rem
    }

    .offset-menu.offset-menu--active {
        overflow: hidden
    }

    .offset-menu__logo-link--icon svg {
        height: 75px;
        height: 7.5rem;
        width: 170px;
        width: 17rem
    }

    .main-navigation li.menu-item a {
        font-size: 18px;
        font-size: 1.8rem;
        font-size: var(--text-xs);
        padding: 5px 15px;
        padding: .5rem 1.5rem
    }
    
    .footer__terms-link {
        flex-basis: fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content
    }

    .admin-bar .offset-menu {
        top: 32px;
        top: 3.2rem
    }

    .offset-menu.offset-menu--active {
        overflow: hidden
    }

    .offset-menu__logo-link--icon svg {
        height: 75px;
        height: 7.5rem;
        width: 170px;
        width: 17rem
    }
    .sidebarmenu {
        display: none;
    }
}

@media screen and (min-width:62em) {
    .fw--regular-padding {
        padding: calc(6rem * 1) 0;
        padding: calc(var(--row-spacing-l) * 1) 0
    }

    .fw--double-padding {
        padding: calc(6rem * 2) 0;
        padding: calc(var(--row-spacing-l) * 2) 0
    }

    .cw {
        max-width: 94.75806%
    }

    .h1,
    h1 {
        font-size: calc(1rem * 5.2);
        font-size: var(--h1-size)
    }

    .h2,
    h2 {
        font-size: calc(1rem * 3.8);
        font-size: var(--h2-size)
    }

    .h3,
    h3 {
        font-size: calc(1rem * 2.2);
        font-size: var(--h3-size)
    }

    .fw--top-bar {
        background-color: #b20e00;
        background-color: var(--primary-color);
        display: block;
        padding: 5px 0;
        padding: .5rem 0
    }

    .admin-bar .main-header__container--fixed {
        top: 32px;
        top: 3.2rem
    }

    .scrolling-progress-active.admin-bar .main-header__container--fixed {
        top: 39px;
        top: 3.9rem
    }

    .main-header__col--mobile-menu {
        display: none
    }

    .main-header__col--book-now {
        display: none
    }
 .sidebarmenu {
        display: block;
    }

    .main-header__col--navigation {
        display: block;
        order: 3
    }

    .main-header__book-now-link {
        padding: 5px 20px;
        padding: .5rem 2rem
    }

    .main-navigation li.menu-item a {
        padding: 5px 20px;
        padding: .5rem 2rem
    }
    
    .branding-footer {
        display: block
    }

    .footer__row {
        flex-wrap: nowrap
    }

    .footer__col--info {
        --footer-info-col-width: 350px;
        --footer-info-col-width: 35rem;
        flex-basis: var(--footer-info-col-width);
        max-width: var(--footer-info-col-width);
        padding-bottom: 0;
        text-align: left
    }

    .footer__col--links {
        flex-basis: auto;
        max-width: auto;
        padding-bottom: 0;
        text-align: left
    }

    .footer__col--actions {
        flex-basis: auto;
        max-width: auto;
        padding-bottom: 0
    }

    .footer__logo-link {
        margin: 0 auto calc(3rem / 2) 0;
        margin: 0 auto var(--half-margin) 0
    }

    .footer__terms-links {
        justify-content: flex-start
    }

    .footer__terms-link:first-child {
        padding-left: 0
    }

    .footer__terms-link:first-child a {
        padding-left: 0
    }

    .btn--secondary.btn--footer {
        margin-left: 0;
        margin-right: 0;
        max-width: auto
    }

    .footer-bot__row {
        justify-content: space-between
    }
}

@media screen and (min-width:74em) {
    .cw {
        max-width: 1140px;
        max-width: 114rem
    }

    .main-header__book-now-link {
        font-size: 24px;
        font-size: 2.4rem;
        font-size: var(--text-m);
        padding: 5px 25px;
        padding: .5rem 2.5rem
    }

    .main-navigation li.menu-item a {
        font-size: 24px;
        font-size: 2.4rem;
        font-size: var(--text-m);
        padding: 5px 25px;
        padding: 1.5rem 2.5rem
    }
    .footer__col--info {
        --footer-info-col-width: 300px;
        --footer-info-col-width: 30rem
    }
  .sidebarmenu {
        display: block;
    }
}

@media screen and (min-width:96em) {
    .fw--regular-padding {
        padding: calc(8rem * 1) 0;
        padding: calc(var(--row-spacing-xxl) * 1) 0
    }

    .fw--double-padding {
        padding: calc(8rem * 2) 0;
        padding: calc(var(--row-spacing-xxl) * 2) 0
    }

    .cw {
        max-width: 1280px;
        max-width: 128rem
    }
 .sidebarmenu {
        display: block;
    }
}

@media screen and (min-width:113em) {
    .cw {
        max-width: 1440px;
        max-width: 144rem
}
    .sidebarmenu {
        display: block;
    }
}

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0e4354;
}

.clear {
    clear: both;
}
.modal {
    --bs-modal-width: 50%;
    --bs-modal-footer-gap: 0 rem;
}
