<div class="sidebarmenu row">
    <div class="col-12">
        <p class="menuitem_red" routerLink="/">DASHBOARD</p>
    </div>
    <div class="col-12">
        <p class="menuitem_red" routerLink="/video">Videos</p>
    </div>
<div class="col-12">
    <p class="menuitem_red" (click)="openModal()">CREDITS</p>
</div>
<div class="col-12">
    <p class="menuitem_red" (click)="resetPassword()">PASSWORD MANAGEMENT</p>
</div>
<div class="col-12">
    <p class="menuitem_red" routerLink="/getprofile">PROFILE MANAGEMENT</p>
</div>
<!--<div class="col-12">
    <p class="menuitem_red">TBD1</p>
</div>
<div class="col-12">
    <p class="menuitem_red">TBD2</p>
</div>
<div class="col-12">
    <p class="menuitem_red">TBD3</p>
</div>
<div class="col-12">
    <p class="menuitem_red">TBD4</p>
</div>
<div class="col-12">
    <p class="menuitem_red">TBD5</p>
</div>-->
<div class="col-12">
    <p class="menuitem_red" (click)="logout()">LOGOUT</p>
</div>
  </div>